# Core functionality - changes here should be rare!
/src/app.py                   @sherazlodhi
/src/backend/database.py      @sherazlodhi
/src/backend/routers/auth.py  @sherazlodhi

# The frontend will need refactored soon to be more object oriented.
/src/static/   @sherazlodhi
